<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Cadastro</title>
</head>

<body>
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cadastro">Cadastro</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CRUDs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ian</a>
                            <a class="dropdown-item" href="#">Izadora</a>
                            <a class="dropdown-item" href="#">Vagner</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Algo mais aqui</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- fim do menu -->


    <div class="container">
        <h2 class="my-5">Cadastrar</h2>
        <form action="/cadastro" method="POST" class="needs-validation shadow px-5 pt-5 pb-3 mb-3 bg-white rounded"
            novalidate>
            <div class="form-row mb-3">
                <div class="col-md-8">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="validacao">Primeiro nome</label>
                            <input type="text" class="form-control" id="validationServer01" placeholder="Nome"
                                name="name" required>
                            <div class="invalid-feedback">Por favor, informe o nome do usuário.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="validacao02">Sobrenome</label>
                            <input type="text" class="form-control" id="validacao02" placeholder="Sobrenome"
                                name="sobrenome" required="">
                            <div class="invalid-feedback">Por favor, informe o sobrenome do usuário.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="validacao03">Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">@</span>
                                </div>
                                <input type="text" class="form-control" id="validacao03" placeholder="Email"
                                    name="email" required>
                                <div class="invalid-feedback">Por favor, informe o email do usuário.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validacao04">Telefone</label>
                            <input type="text" class="form-control" id="validacao04" placeholder="Telefone" name="tel"
                                required>
                            <div class="invalid-feedback">Por favor, informe o Telefone do usuário.</div>
                        </div>
                        <div class="col-md-12">
                            <label>Profissão</label>
                            <input type="text" class="form-control" id="validacao04" placeholder="Profissão"
                                name="profissao" required>
                            <div class="invalid-feedback">Por favor, informe uma profissão.</div>
                        </div>
                        <div class="col-md-5">
                            <label for="validacao04">Endereço</label>
                            <input type="text" class="form-control" id="validacao05"
                                placeholder="Rua, número, complemento, bairro" name="endereco" required>
                            <div class="invalid-feedback">Por favor, informe o endereço.</div>
                        </div>
                        <div class="col-md-5">
                            <label>Cidade</label>
                            <input type="text" class="form-control" id="validacao04" placeholder="Cidade" name="cidade"
                                required>
                            <div class="invalid-feedback">Por favor, informe a cidade.</div>
                        </div>
                        <div class="col-md-2">
                            <label>UF</label>
                            <select class="form-control" name="uf" required>
                                <option value=""></option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AM">AM</option>
                                <option value="AP">AP</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MG">MG</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="PR">PR</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="RS">RS</option>
                                <option value="SC">SC</option>
                                <option value="SE">SE</option>
                                <option value="SP">SP</option>
                                <option value="TO">TO</option>
                            </select>
                            <div class="invalid-feedback">Por favor, informe o UF.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-self-end ">
                    <label>Foto</label>
                    <div class="row">
                        <div class="col">
                            <figure class="figure">
                                <img style=" width:200px; height: 200px;" class="img-thumbnail">
                            </figure>
                            <div class="form-group">
                                <input type="file" name="imagem" id="imagem" onchange="previewImage()"
                                    class="form-control-file" required>
                                <div class="invalid-feedback">Por favor, uma imagem.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-5">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/" class="btn btn-dark ml-2">Voltar</a>
                    </div>
                </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

    <script>
        function previewImage() {
            var imagem = document.querySelector('input[name=imagem]').files[0];
            var preview = document.querySelector('img')
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }
            if (imagem) {
                reader.readAsDataURL(imagem);
            } else {
                preview.src = "";
            }
        }
    </script>

    <script>
        // Exemplo de JavaScript inicial para desativar envios de formulário, se houver campos inválidos.
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
                var forms = document.getElementsByClassName('needs-validation');
                // Faz um loop neles e evita o envio
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>